USE [ContactsDB]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 3/31/2026 1:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[CountryID] [int] NOT NULL,
	[ImagePath] [nvarchar](500) NULL,
 CONSTRAINT [PK__Contacts__5C6625BBE2F19656] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 3/31/2026 1:13:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [Email], [Phone], [Address], [DateOfBirth], [CountryID], [ImagePath]) VALUES (1, N'Salma2', N'Hasan2', N'Salma@s2t.com', N'0987442', N'42 st building 4', CAST(N'2006-04-04T12:52:15.000' AS DateTime), 1, NULL)
INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [Email], [Phone], [Address], [DateOfBirth], [CountryID], [ImagePath]) VALUES (2, N'Sami', N'Hakem', N'Sami@st.com', N'0987243244', N'44 st building 4', CAST(N'2004-04-04T12:52:15.000' AS DateTime), 1, NULL)
INSERT [dbo].[Contacts] ([ContactID], [FirstName], [LastName], [Email], [Phone], [Address], [DateOfBirth], [CountryID], [ImagePath]) VALUES (4, N'Ahmed', N'Alian', N'Ahmed@aa.com', N'43234234', N'New Address', CAST(N'2022-12-06T15:37:26.000' AS DateTime), 1, N'C:\Photos\Mohammed AbuHadhoud.JPG')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (1, N'United States')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (2, N'United Kingdom')
INSERT [dbo].[Countries] ([CountryID], [CountryName]) VALUES (3, N'Canada')
SET IDENTITY_INSERT [dbo].[Countries] OFF
GO
ALTER TABLE [dbo].[Contacts]  WITH CHECK ADD  CONSTRAINT [FK__Contacts__Countr__398D8EEE] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Contacts] CHECK CONSTRAINT [FK__Contacts__Countr__398D8EEE]
GO
